.hidden {
  display: none;
}

h1 {
  color: #143852;
  font-size: 42px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: #143852;
  font-size: 36px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: #3f3f3f;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
  background: #143852;
  padding: 10px;
}

footer {
  background: #143852;
  padding: 20px 40px 20px 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 40px;
}

#footP {
  color: #f2f2f2;
}

#mainHead {
  background: #143852;
  padding: 20px 40px 20px 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

#logo {
  width: 300px;
}

#mainNav {
  list-style: none;
  width: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#mainNav ul li {
  display: inline;
}

#mainNav ul li a {
  text-decoration: none;
  color: #f2f2f2;
}

#mainDiv {
  padding: 40px 60px 40px 60px;
}

table {
  margin-top: 40px;
  border: 2px solid #143852;
  padding: 20px;
  width: 80%;
}

tr {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border: 1px solid #143852;
}

td a {
  padding: 10px 20px 10px 20px;
}

tr:nth-child(odd) {
  background: #e7e8e8;
}

.employeeCon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 40px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.manage-btn {
  color: #333;
  font-size: 12px;
}

